<template>
  <div>
    <header>
      <div>
        <div></div>
        <h1 class="title">Account</h1>
        <button v-bind:disabled="isDisabledSave"
                form="save-settings-form" type="submit">Save</button>
      </div>
    </header>

    <section>
      <form v-on:submit.prevent="save"
            id="save-settings-form">
        <section class="form-group card">
          <div class="input-icon">
            <i class="material-icons md-24 md-dark md-inactive">monetization_on</i>
            <input v-model="user.budget"
                   name="budget" type="number" placeholder="$0.00" step="0.01" min="0.00" required/>
          </div>

          <div class="input-icon">
            <i class="material-icons md-24 md-dark md-inactive">autorenew</i>
            <input v-model="user.budgetPeriod"
                   name="budget_period" type="hidden" required/>

            <div class="budget-period-options overline text__weight-lg">
              <span v-for="option in budgetPeriodOptions"
                    v-bind:key="option"
                    v-bind:data-budget-period="option"
                    v-bind:class="{ selected: isSelected(option) }"
                    v-on:click="selectBudgetPeriod">
                {{option}}
              </span>
            </div>
          </div>
        </section>

        <section class="form-group card">
          <div class="input-icon">
            <i class="material-icons md-24 md-dark md-inactive">update</i>
            <label for="budget-rollover">Carry budget forward</label>
            <input v-model="user.hasBudgetRollover"
                   id="budget-rollover"
                   name="has_budget_rollover" type="checkbox" />
          </div>

          <div v-show="user.hasBudgetRollover"
               class="input-icon">
            <i class="material-icons md-24 md-dark md-inactive">today</i>
            
            <div class="date-options">
              <select ref="dateDay">
                <option v-for="day in dateOptions.DAYS"
                        v-bind:key="day">{{ day }}</option>
              </select>

              <select ref="dateMonth">
                <option v-for="month in dateOptions.MONTHS"
                        v-bind:key="month">{{ month }}</option>
              </select>

              <select ref="dateYear">
                <option v-for="year in dateOptions.YEARS"
                        v-bind:key="year">{{ year }}</option>
              </select>
            </div>
          </div>
        </section>
      </form>
    </section>

    <section>
      <section class="form-group card">
        <div class="input-icon">
          <i class="material-icons md-24 md-dark md-inactive">email</i>
          <router-link v-bind:to="{ name: 'ChangeEmail' }" class="link-icon">
            {{ user.email }}
          </router-link>
        </div>
      </section>
    </section>

    <div class="btn-container">
      <button v-bind:disabled="isDisabled"
              v-on:click="signOut"
              type="button">Sign out</button>
    </div>

    <TabBar></TabBar>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import axios, { AxiosResponse } from "axios";
  import * as firebase from "firebase/app";
  import moment from "moment";
  import TabBar from "@/components/TabBar.vue";
  import { API_BASE_URL, BUDGET_PERIOD_OPTIONS, DATE } from "@/shared/global-values";
  import IUser from "@/types/user";

  export default Vue.extend({
    components: {
      TabBar,
    },
    data() {
      return {
        user: {} as IUser,
        budgetPeriodOptions: BUDGET_PERIOD_OPTIONS,
        dateOptions: DATE,
        isDisabled: false,
        isDisabledSave: false,
      };
    },
    async created(): Promise<void> {
      const id: string = localStorage.getItem("userId") as string;

      try {
        const token: string = await firebase.auth().currentUser!.getIdToken();
        const response: AxiosResponse = await axios.get(`${API_BASE_URL}/users/${id}`, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
        this.user = response.data.user as IUser;

        const dateDay: HTMLSelectElement = this.$refs.dateDay as HTMLSelectElement;
        const dateMonth: HTMLSelectElement = this.$refs.dateMonth as HTMLSelectElement;
        const dateYear: HTMLSelectElement = this.$refs.dateYear as HTMLSelectElement;

        const date: Date = new Date(this.user.budgetRolloverFrom);

        dateDay.value = date.getDate().toString();
        dateMonth.value = DATE.MONTHS[date.getMonth()];
        dateYear.value = date.getFullYear().toString();

      } catch (error) {
        console.error(error);
      }
    },
    methods: {
      isSelected(budgetPeriod: string): boolean {
        return budgetPeriod === this.user.budgetPeriod;
      },
      selectBudgetPeriod(event: Event): void {
        const span: HTMLSpanElement = event.currentTarget as HTMLSpanElement;
        this.user.budgetPeriod = span.dataset.budgetPeriod as string;
      },
      async save(event: Event): Promise<void> {
        this.isDisabledSave = true;

        const id: string = localStorage.getItem("userId") as string;

        const dateDay: HTMLSelectElement = this.$refs.dateDay as HTMLSelectElement;
        const dateMonth: HTMLSelectElement = this.$refs.dateMonth as HTMLSelectElement;
        const dateYear: HTMLSelectElement = this.$refs.dateYear as HTMLSelectElement;
        const dateString: string = `${dateDay.value}-${dateMonth.value}-${dateYear.value}`;

        const form: HTMLFormElement = event.currentTarget as HTMLFormElement;
        const formData: FormData = new FormData(form);

        formData.set("budget_rollover_from", moment(dateString, "D-MMMM-YYYY").toISOString());
        formData.set("has_budget_rollover", this.user.hasBudgetRollover.toString());

        try {
          const token: string = await firebase.auth().currentUser!.getIdToken();
          await axios.put(`${API_BASE_URL}/users/${id}`, formData, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
          this.$router.push({ name: "Home" });

        } catch (error) {
          console.error(error);
        }
      },
      async signOut(): Promise<void> {
        this.isDisabled = true;

        const formData: FormData = new FormData();

        try {
          const token: string = await firebase.auth().currentUser!.getIdToken();
          await axios.post(`${API_BASE_URL}/auth/invalidate_token`, formData, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
          await firebase.auth().signOut();

        } catch (error) {
          console.error(error);
        }
      },
    },
  });
</script>

<style lang="scss" scoped>
  @import "../assets/main";

  .budget-period-options {
    display: flex;
    justify-content: space-between;
    width: 100%;

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      color: $disabled-dark-text-colour;
      border: 2px solid $disabled-dark-text-colour;
      border-radius: 44px;
    }

    .selected {
      color: $website-accent-colour;
      border: 2px solid $website-accent-colour;
    }
  }

  label[for="budget-rollover"] {
    width: 100%;

    + #budget-rollover {
      width: auto;
    }
  }

  .date-options {
    select {
      ~ select {
        margin: 0 0 0 8px;
      }
    }
  }
</style>