<template>
  <div>
    <header>
      <div>
        <router-link v-bind:to="{ name: 'Account' }" class="link-icon">
          <i class="material-icons md-24 md-light">arrow_back</i>
        </router-link>

        <h1 class="title">Change Email</h1>

        <div></div>
      </div>
    </header>

    <div class="centre">
      <transition name="slide-fade" mode="out-in">
        <section v-if="!showCodeInput"
                key="1"
                class="card">
          <form v-on:submit.prevent="verifyEmail">
            <input v-model="email"
                  name="email" type="email" placeholder="New email" required/>
            
            <div class="btn-container">
              <button v-bind:disabled="isDisabled"
                      type="submit">Verify email</button>
            </div>
          </form>
        </section>

        <section v-if="showCodeInput"
                key="2"
                class="card">
          <form v-on:submit.prevent="updateEmail">
            <input v-bind:value="email"
                  name="email" required readonly/>
            <div>
              <span>We just sent you a temporary verification code. Please check your inbox.</span>
              <input name="code" type="text" placeholder="Code" required/>
              <span v-if="codeIsInvalid">Your code was invalid, or expired.</span>
            </div>

            <div class="btn-container">
              <button v-bind:disabled="isDisabledUpdate"
                      type="submit">Update email</button>
            </div>
          </form>

          <hr/>

          <form v-on:submit.prevent="verifyEmail">
            <input v-bind:value="email"
                  name="email" required hidden/>
            <div class="btn-container">
              <button v-bind:disabled="isDisabled"
                      type="submit">Resend verification code</button>
            </div>
          </form>
        </section>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import axios from "axios";
  import * as firebase from "firebase/app";
  import { API_BASE_URL } from "@/shared/global-values";

  export default Vue.extend({
    data() {
      return {
        email: "",
        showCodeInput: false,
        codeIsInvalid: false,
        isDisabled: false,
        isDisabledUpdate: false,
      };
    },
    methods: {
      async verifyEmail(event: Event): Promise<void> {
        this.isDisabled = true;
        this.codeIsInvalid = false;

        const form: HTMLFormElement = event.currentTarget as HTMLFormElement;
        const formData: FormData = new FormData(form);

        try {
          await axios.post(`${API_BASE_URL}/auth/verify_email`, formData, { withCredentials: true });
          this.showCodeInput = true;
          this.isDisabled = false;

        } catch (error) {
          console.error(error);
        }
      },
      async updateEmail(event: Event): Promise<void> {
        this.isDisabledUpdate = true;
        this.codeIsInvalid = false;

        const id: string = localStorage.getItem("userId") as string;

        const form: HTMLFormElement = event.currentTarget as HTMLFormElement;
        const formData: FormData = new FormData(form);

        try {
          const token: string = await firebase.auth().currentUser!.getIdToken();
          await axios.put(`${API_BASE_URL}/users/${id}/change_email`, formData, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
          this.$router.push({ name: "Account" });

        } catch (error) {
          if (error.response && error.response.status === 401) {
            this.isDisabledUpdate = false;
            this.codeIsInvalid = true;
          } else {
            console.error(error);
          }
        }
      },
    },
  });
</script>

<style scoped lang="scss" scoped>
  @import "../assets/main";

  .centre {
    display: flex;
    height: calc(100vh - 51px);
    flex-direction: column;
    justify-content: center;

    section {
      padding: 16px;
      margin: 16px;
   }
  }
</style>
