<template>
  <div>
    <transition name="fade" mode="out-in">
      <LocationSearchModal v-if="isLocationSearchVisible"
                           v-on:select-location="selectLocation"></LocationSearchModal>
    </transition>

    <header>
      <div>
        <router-link v-bind:to="{name: 'Expense', params: {id: id}}" class="link-icon">
          <i class="material-icons md-24 md-light">close</i>
        </router-link>

        <h1 class="title">Edit Expense</h1>

        <button v-bind:disabled="isDisabled"
                form="edit-expense-form" type="submit">Save</button>
      </div>
    </header>

    <section>
      <form v-on:submit.prevent="save"
            id="edit-expense-form"
            class="form-group card">
        <div class="input-icon">
          <i class="material-icons md-24 md-dark md-inactive">shopping_basket</i>
          <input v-model="expense.name"
                 name="name" type="text" placeholder="Item name" required/>
        </div>

        <div class="input-icon">
          <i class="material-icons md-24 md-dark md-inactive">monetization_on</i>
          <input v-model="expense.amount"
                 name="amount" type="number" placeholder="$0.00" step="0.01" min="0.00" required/>
        </div>

        <div class="input-icon">
          <i class="material-icons md-24 md-dark md-inactive">today</i>
          
          <div class="date-options">
            <select ref="dateDay">
              <option v-for="day in dateOptions.DAYS"
                      v-bind:key="day">{{ day }}</option>
            </select>

            <select ref="dateMonth">
              <option v-for="month in dateOptions.MONTHS"
                      v-bind:key="month">{{ month }}</option>
            </select>

            <select ref="dateYear">
              <option v-for="year in dateOptions.YEARS"
                      v-bind:key="year">{{ year }}</option>
            </select>
          </div>
        </div>

        <div class="input-icon">
          <i class="material-icons md-24 md-dark md-inactive">color_lens</i>
          <input v-model="expense.colour"
                 name="colour" type="hidden" required/>

          <div class="colour-options">
            <span v-for="option in colourOptions"
                  v-bind:key="option.colour"
                  v-bind:data-colour="option.colour"
                  v-bind:style="{ backgroundColor: option.hex }"
                  v-on:click="selectColour">
              <i v-show="isSelectedColour(option.colour)"
                 class="material-icons md-24 md-light">done</i>
            </span>
          </div>
        </div>

        <div class="input-icon">
          <i class="material-icons md-24 md-dark md-inactive">location_on</i>
          <input v-model="expense.location.name"
                 id="location"
                 name="location" type="text" hidden/>
          
          <div class="clearable-input">
            <label v-on:click="toggleLocationSearch"
                   for="location">
              <span v-if="expense.location.name">{{ expense.location.name }}</span>
              <span v-else
                    class="text__dark-grey">Location</span>
            </label>

            <i v-if="expense.location.name"
               v-on:click="clearLocation"
               class="material-icons md-18 md-dark md-dark">cancel</i>
          </div>
        </div>

        <div v-if="expense.location && expense.location.name"
             class="img-wrapper">
          <Map v-bind:latitude="expense.location.latitude"
               v-bind:longitude="expense.location.longitude"></Map>
        </div>

        <div class="input-icon">
          <i class="material-icons md-24 md-dark md-inactive">note</i>
          <textarea v-model="expense.notes"
                    name="notes" placeholder="Notes"></textarea>
        </div>

        <div class="input-icon">
          <i class="material-icons md-24 md-dark md-inactive">add_photo_alternate</i>
          <input v-on:change="previewPhoto"
                 id="photo" name="photo" type="file" placeholder="Add a photo" hidden/>
          
          <div class="clearable-input">
            <label for="photo">
              <span v-if="addedPhoto"
                    class="text__dark-grey">Replace photo</span>
              <span v-else
                    class="text__dark-grey">Add a photo</span>
            </label>

            <i v-if="addedPhoto"
               v-on:click="clearPhoto"
               class="material-icons md-18 md-dark md-dark">cancel</i>
          </div>
        </div>

        <div v-show="addedPhoto"
             class="img-wrapper">
          <img ref="photoPreview"/>
        </div>
      </form>
    </section>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import axios, { AxiosResponse } from "axios";
  import * as firebase from "firebase/app";
  import moment from "moment";
  import AWS from "aws-sdk";
  import uuid from "uuid";
  import path from "path";
  import LocationSearchModal from "@/components/LocationSearchModal.vue";
  import Map from "@/components/Map.vue";
  import { API_BASE_URL, S3_BUCKET, AWS_CREDENTIALS, COLOUR_OPTIONS, DATE } from "@/shared/global-values";
  import IExpense from "@/types/expense";
  import ILocation from "@/types/location";

  export default Vue.extend({
    components: {
      LocationSearchModal,
      Map,
    },
    data() {
      return {
        id: this.$route.params.id,
        colourOptions: COLOUR_OPTIONS,
        expense: { location: {} } as IExpense,
        dateOptions: DATE,
        addedPhoto: false,
        isDisabled: false,
      };
    },
    computed: {
      isLocationSearchVisible(): boolean {
        return this.$store.getters.getIsLocationSearchVisible;
      },
    },
    async created(): Promise<void> {
      try {
        const token: string = await firebase.auth().currentUser!.getIdToken();
        const response: AxiosResponse = await axios.get(`${API_BASE_URL}/expenses/${this.id}`, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
        this.expense = response.data.expense as IExpense;

        if (!this.expense.location) {
          this.expense.location = {} as ILocation;
        }

        if (this.expense.photoURL) {
          this.addedPhoto = true;
          const photoPreview: HTMLImageElement = this.$refs.photoPreview as HTMLImageElement;
          photoPreview.setAttribute("src", this.expense.photoURL);
        }

        const dateDay: HTMLSelectElement = this.$refs.dateDay as HTMLSelectElement;
        const dateMonth: HTMLSelectElement = this.$refs.dateMonth as HTMLSelectElement;
        const dateYear: HTMLSelectElement = this.$refs.dateYear as HTMLSelectElement;

        const date: Date = new Date(this.expense.date);

        dateDay.value = date.getDate().toString();
        dateMonth.value = DATE.MONTHS[date.getMonth()];
        dateYear.value = date.getFullYear().toString();

      } catch (error) {
        console.error(error);
      }
    },
    methods: {
      toggleLocationSearch(): void {
        this.$store.dispatch("toggleLocationSearch");
      },
      isSelectedColour(colour: string): boolean {
        return colour === this.expense.colour;
      },
      selectColour(event: Event): void {
        const span: HTMLSpanElement = event.currentTarget as HTMLSpanElement;
        this.expense.colour = span.dataset.colour as string;
      },
      selectLocation(location: ILocation): void {
        this.expense.location = location;
      },
      previewPhoto(event: Event): void {
        const input: HTMLInputElement = event.currentTarget as HTMLInputElement;
        const files: FileList | null = input.files;

        if (files) {
          const photo: File = files[0];
          this.addedPhoto = true;

          const fileReader: FileReader = new FileReader();
          fileReader.onload = (event: Event) => {
            const photoPreview: HTMLImageElement = this.$refs.photoPreview as HTMLImageElement;
            photoPreview.setAttribute("src", fileReader.result as string);
          };
          fileReader.readAsDataURL(photo);
        }
      },
      clearLocation(): void {
        this.expense.location.name = "";
      },
      clearPhoto(): void {
        const input: HTMLInputElement = document.getElementById("photo") as HTMLInputElement;
        input.value = "";
        this.addedPhoto = false;
        this.expense.photoURL = "";

        const photoPreview: HTMLImageElement = this.$refs.photoPreview as HTMLImageElement;
        photoPreview.removeAttribute("src");
      },
      async save(event: Event): Promise<void> {
        this.isDisabled = true;

        const dateDay: HTMLSelectElement = this.$refs.dateDay as HTMLSelectElement;
        const dateMonth: HTMLSelectElement = this.$refs.dateMonth as HTMLSelectElement;
        const dateYear: HTMLSelectElement = this.$refs.dateYear as HTMLSelectElement;
        const dateString: string = `${dateDay.value}-${dateMonth.value}-${dateYear.value}`;

        const form: HTMLFormElement = event.currentTarget as HTMLFormElement;
        const formData: FormData = new FormData(form);
        formData.set("date", moment(dateString, "D-MMMM-YYYY").toISOString());

        if (this.expense.location.name && this.expense.location.name !== "") {
          formData.set("location_name", this.expense.location.name);
          formData.set("location_address", this.expense.location.address);
          formData.set("latitude", this.expense.location.latitude as unknown as string);
          formData.set("longitude", this.expense.location.longitude as unknown as string);
        }

        try {
          const fileInput: HTMLInputElement = document.getElementById("photo") as HTMLInputElement;
          if (fileInput.files!.length > 0) {
            const photo: File = formData.get("photo") as File;
            const objectKey = `${uuid.v4()}${path.extname(photo.name)}`;
            const S3: AWS.S3 = new AWS.S3({ accessKeyId: AWS_CREDENTIALS.ACCESS_KEY_ID, secretAccessKey: AWS_CREDENTIALS.SECRET_ACCESS_KEY });
            await S3.putObject({ Bucket: S3_BUCKET, Key: objectKey, Body: photo, ACL: "public-read" }).promise();

            formData.delete("photo");
            formData.set("photo_url", `https://${S3_BUCKET}.s3.amazonaws.com/${objectKey}`);

          // Existing photo is unchanged.
          } else if (this.expense.photoURL && this.expense.photoURL !== "") {
            formData.set("photo_url", this.expense.photoURL);
          }

          const token: string = await firebase.auth().currentUser!.getIdToken();
          await axios.put(`${API_BASE_URL}/expenses/${this.id}`, formData, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
          this.$router.push({ name: "Expense", params: { id: this.id } });

        } catch (error) {
          console.error(error);
        }
      },
    },
  });
</script>

<style scoped lang="scss" scoped>
  @import "../assets/main";

  .date-options {
    select {
      ~ select {
        margin: 0 0 0 8px;
      }
    }
  }

  .colour-options {
    display: flex;

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: $border-radius;

      ~ span {
        margin: 0 0 0 8px;
      }
    }
  }
</style>
