<template>
  <div>
    <header>
      <div>
        <router-link v-bind:to="{ name: 'Home' }" class="link-icon">
          <i class="material-icons md-24 md-light">arrow_back</i>
        </router-link>

        <h1 class="title">Expense Details</h1>

        <router-link v-bind:to="{ name: 'EditExpense' }" class="btn">
          Edit
        </router-link>
      </div>
    </header>

    <section>
      <div v-bind:style="{ borderTopColor: colourHex }"
           class="details card">
        <h2 class="text__size-lg">${{ expense.amount.toCurrency() }}</h2>
        
        <hr/>
        
        <span class="text__dark-grey">{{ expense.date }}</span>
        <span class="text__weight-md">{{ expense.name }}</span>
        <span class="text__dark-grey">{{ expense.notes }}</span>
      </div>

      <div v-if="expense.location && expense.location.name"
           class="location card">
        <span class="caption">{{ expense.location.name }}, {{ expense.location.address }}</span>
        <Map v-bind:latitude="expense.location.latitude"
             v-bind:longitude="expense.location.longitude"></Map>
      </div>

      <div v-if="expense.photoURL"
           class="card">
        <img v-bind:src="expense.photoURL"/>
      </div>
    </section>

    <div class="btn-container">
      <button v-bind:disabled="isDisabled"
              v-on:click="deleteExpense"
              type="button">Delete Expense</button>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import axios, { AxiosResponse } from "axios";
  import * as firebase from "firebase/app";
  import Map from "@/components/Map.vue";
  import { API_BASE_URL, COLOUR_OPTIONS } from "@/shared/global-values";
  import { formatDate } from "@/shared/utils";
  import IExpense from "@/types/expense";

  export default Vue.extend({
    components: {
      Map,
    },
    data() {
      return {
        expense: { amount: 0 } as IExpense,
        isDisabled: false,
      };
    },
    async beforeMount(): Promise<void> {
      const id: string = this.$route.params.id;

      try {
        const token: string = await firebase.auth().currentUser!.getIdToken();
        const response: AxiosResponse = await axios.get(`${API_BASE_URL}/expenses/${id}`, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
        this.expense = response.data.expense as IExpense;
        this.expense.date = formatDate(new Date(this.expense.date), "D MMM YY");

      } catch (error) {
        console.error(error);
      }
    },
    computed: {
      colourHex(): string {
        const colourOption: any = COLOUR_OPTIONS.find((option) => option.colour === this.expense.colour);
        if (colourOption) {
          return colourOption.hex;
        }
        return "#FFF0";
      },
    },
    methods: {
      async deleteExpense(): Promise<void> {
        this.isDisabled = true;

        const id: string = this.$route.params.id;

        try {
          const token: string = await firebase.auth().currentUser!.getIdToken();
          await axios.delete(`${API_BASE_URL}/expenses/${id}`, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
          this.$router.push({ name: "Home" });

        } catch (error) {
          console.error(error);
        }
      },
    },
  });
</script>

<style scoped lang="scss" scoped>
  @import "../assets/main";
  
  section {
    display: flex;
    flex-direction: column;

    > div {
      overflow: hidden;

      ~ div {
        margin: 16px 0 0;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px;
      border-top-width: $border-radius;
      border-top-style: solid;

      h2 {
        margin: 0;
      }
    }

    .location {
      > span {
        display: block;
        padding: 8px 16px;
      }
    }
  }

  .btn-container {
    button {
      color: #b7472a;
    }
  }
</style>