<template>
  <div class="centre">
    <transition name="slide-fade" mode="out-in">
      <section v-if="!showCodeInput"
               key="1"
               class="card">
        <form v-on:submit.prevent="verifyEmail">
          <input v-model="email"
                 name="email" type="email" placeholder="Email" autocomplete="off" required/>
          
          <div class="btn-container">
            <button v-bind:disabled="isDisabled"
                    type="submit">Continue with email</button>
          </div>
        </form>
      </section>

      <section v-if="showCodeInput"
               key="2"
               class="card">
        <form v-on:submit.prevent="authenticate">
          <input v-bind:value="email"
                 name="email" required readonly/>
          <div>
            <span>We just sent you a temporary login code. Please check your inbox.</span>
            <input name="code" type="text" placeholder="Code" autocomplete="off" required/>
            <span v-if="codeIsInvalid">Your code was invalid, or expired.</span>
          </div>

          <div class="btn-container">
            <button v-bind:disabled="isDisabledAuth"
                    type="submit">Continue with code</button>
          </div>
        </form>

        <hr/>

        <form v-on:submit.prevent="verifyEmail">
          <input v-bind:value="email"
                 name="email" required hidden/>
          <div class="btn-container">
            <button v-bind:disabled="isDisabled"
                    type="submit">Resend login code</button>
          </div>
        </form>
      </section>
    </transition>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import axios, { AxiosResponse } from "axios";
  import * as firebase from "firebase/app";
  import { API_BASE_URL } from "@/shared/global-values";

  export default Vue.extend({
    data() {
      return {
        email: "",
        showCodeInput: false,
        codeIsInvalid: false,
        isDisabled: false,
        isDisabledAuth: false,
      };
    },
    methods: {
      async verifyEmail(event: Event): Promise<void> {
        this.isDisabled = true;
        this.codeIsInvalid = false;

        const form: HTMLFormElement = event.currentTarget as HTMLFormElement;
        const formData: FormData = new FormData(form);

        try {
          await axios.post(`${API_BASE_URL}/auth/verify_email`, formData, { withCredentials: true });
          this.showCodeInput = true;
          this.isDisabled = false;

        } catch (error) {
          console.error(error);
        }
      },
      async authenticate(event: Event): Promise<void> {
        this.isDisabledAuth = true;
        this.codeIsInvalid = false;

        const form: HTMLFormElement = event.currentTarget as HTMLFormElement;
        const formData: FormData = new FormData(form);

        try {
          const response: AxiosResponse = await axios.post(`${API_BASE_URL}/auth/authenticate`, formData, { withCredentials: true });

          await firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL);
          await firebase.auth().signInWithCustomToken(response.data.token);

        } catch (error) {
          if (error.response && error.response.status === 401) {
            this.isDisabledAuth = false;
            this.codeIsInvalid = true;
          } else {
            console.error(error);
          }
        }
      },
    },
  });
</script>

<style scoped lang="scss" scoped>
  @import "../assets/main";

  .centre {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

    section {
      padding: 16px;
      margin: 16px;
    }
  }
</style>
