<template>
  <div>
    <transition name="fade" mode="out-in">
      <FilterModal v-bind:budgetPeriod="budgetPeriod"
                   v-show="isFilterVisible"></FilterModal>
    </transition>

    <header>
      <div>
        <div></div>
        <h1 class="title">Dashboard</h1>
        <div></div>        
      </div>

      <div>
        <div>
          <div class="overline light">{{ header }}</div>
          <div>
            <span v-if="isFiltered"
                  class="text__weight-md">${{ totalAmount.toCurrency() }}</span>
            <div v-else>
              <span v-bind:class="{ 'almost-over-budget': isAlmostOverBudget, 'over-budget': totalAmount > currentBudget }"
                    class="text__weight-md">${{ totalAmount.toCurrency() }}</span> / ${{ currentBudget.toCurrency() }}
            </div>
          </div>
        </div>

        <div>
          <router-link v-bind:to="{ name: 'NewExpense' }" class="link-icon">
            <i class="material-icons md-24 md-light">add_circle_outline</i>
          </router-link>
        </div>
      </div>
    </header>

    <div v-if="expenses.length > 0"
         class="colours-counts">
      <span v-for="(count, colourHex) in expensesCountByColours"
            v-bind:key="colourHex"
            v-bind:style="{ backgroundColor: colourHex }"
            class="caption light">
        {{ count }}
      </span>
    </div>

    <section>
      <div v-for="(expenses, date) in expensesGroupedByDate"
           v-bind:key="date"
           class="item-row-container">
        <div class="overline">{{ date }}</div>
        <router-link v-bind:to="{ name: 'Expense', params: { id: expense.id } }"
                     v-for="expense in expenses"
                     v-bind:key="expense.id"
                     v-bind:style="{ borderLeftColor: expense.colourHex }"
                     class="item-row card">
          <div>
            <div class="text__weight-md">{{ expense.name }}</div>
            <div v-if="expense.location && expense.location.name"
                 class="caption">{{ expense.location.name }}</div>
          </div>
          <div>
            <span class="text__weight-md">${{ expense.amount.toCurrency() }}</span>
          </div>
        </router-link>
      </div>
    </section>

    <div v-on:click="toggleFilter"
         class="filter-container">
      <i class="material-icons md-24 md-dark">filter_list</i>
      <span class="text__weight-md">Filter</span>
    </div>
    <TabBar></TabBar>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import axios, { AxiosResponse } from "axios";
  import * as firebase from "firebase/app";
  import FilterModal from "@/components/FilterModal.vue"; // @ is an alias to /src
  import TabBar from "@/components/TabBar.vue";
  import { API_BASE_URL, COLOUR_OPTIONS } from "@/shared/global-values";
  import { formatDate, getDateRangeOfBudgetPeriod, groupExpensesByDate, countExpensesByColours } from "@/shared/utils";
  import IExpense from "@/types/expense";
  import IFilter from "@/types/filter";

  export default Vue.extend({
    components: {
      FilterModal,
      TabBar,
    },
    data() {
      return {
        currentBudget: 0,
        budgetPeriod: "",
      };
    },
    computed: {
      totalAmount(): number {
        return this.expenses.reduce((acc: number, expense: IExpense) => {
          acc += expense.amount;
          return acc;
        }, 0);
      },
      isAlmostOverBudget(): boolean {
        const percent: number = this.totalAmount / this.currentBudget;
        return percent >= 0.75 && percent <= 1;
      },
      isFilterVisible(): boolean {
        return this.$store.getters.getIsFilterVisible;
      },
      isFiltered(): boolean {
        return this.$store.getters.getIsFiltered;
      },
      expenses(): IExpense[] {
        return this.$store.getters.getExpenses;
      },
      expensesGroupedByDate(): { [date: string]: IExpense[] } {
        return groupExpensesByDate(this.expenses);
      },
      expensesCountByColours(): { [colourHex: string]: number } {
        return countExpensesByColours(this.expenses);
      },
      filters(): IFilter {
        return this.$store.getters.getFilters;
      },
      header(): string {
        if (this.filters.dateFrom && this.filters.dateTo) {
          return `${formatDate(this.filters.dateFrom, "D MMM YY")} - ${formatDate(this.filters.dateTo, "D MMM YY")}`;
        }
        return "";
      },
    },
    methods: {
      toggleFilter(): void {
        this.$store.dispatch("toggleFilter");
      },
    },
    async created(): Promise<void> {
      const id: string = localStorage.getItem("userId") as string;

      try {
        const token: string = await firebase.auth().currentUser!.getIdToken();
        let response: AxiosResponse = await axios.get(`${API_BASE_URL}/users/${id}/budget_info`, { withCredentials: true, headers: { Authorization: `Bearer ${token}` } });
        this.currentBudget = Number(response.data.currentBudget);
        this.budgetPeriod = response.data.budgetPeriod;

        if (!this.filters.dateFrom || !this.filters.dateTo) {
          const today: Date = new Date();
          const dateRangeOfBudgetPeriod = getDateRangeOfBudgetPeriod(today, this.budgetPeriod);
          this.$store.dispatch("setFilters", { dateFrom: dateRangeOfBudgetPeriod.dateFrom, dateTo: dateRangeOfBudgetPeriod.dateTo });
        }

        const params: URLSearchParams = new URLSearchParams();
        params.set("date_from", this.filters.dateFrom!.toISOString());
        params.set("date_to", this.filters.dateTo!.toISOString());

        response = await axios.get(`${API_BASE_URL}/expenses`, { params, withCredentials: true, headers: { Authorization: `Bearer ${token}` } });

        const expenses: IExpense[] = response.data.expenses.reduce((expenses: IExpense[], expense: IExpense) => {
          const colourOption = COLOUR_OPTIONS.find((option) => option.colour === expense.colour);
          expense.colourHex = colourOption!.hex;

          return [...expenses, expense];
        }, []);

        this.$store.dispatch("setExpenses", expenses);

      } catch (error) {
        console.error(error);
      }
    },
  });
</script>

<style lang="scss" scoped>
  @import "../assets/main";

  header {
    ~ section {
      margin: 16px 16px 106px;
    }
  }
  
  .almost-over-budget {
    color: #FF9500;
  }

  .over-budget {
    color: #FF3B30;
  }

  .filter-container {
    position: fixed;
    bottom: 56px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 4px 8px;
    color: $secondary-dark-text-colour;
    background-color: $secondary-light-background-colour;
    border-radius: $border-radius;
    box-shadow: $box-shadow-hover;

    i {
      margin: 0 8px 0 0;
    }
  }

  .colours-counts {
    display: flex;
    margin: 16px;

    span {
      padding: 4px 8px;
      border-radius: $border-radius;
      
      ~ span {
        margin: 0 0 0 8px;
      }
    }
  }

  .item-row-container {
    ~ .item-row-container {
      margin: 16px 0 0;
    }

    > .overline {
      margin: 0 0 8px;
    }
  }

  .item-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-left-width: $border-radius;
    border-left-style: solid;

    ~ .item-row {
      margin: 16px 0 0;
    }
  }
</style>
