<template>
  <div>
    <header>
      <div>
        <div></div>
        <h1 class="title">Search</h1>
        <div></div>
      </div>

      <div>
        <input v-on:input="search"
               name="q" type="text" placeholder="Search"/>
      </div>
    </header>

    <section>
      <div v-for="(expenses, date) in expensesGroupedByDate"
           v-bind:key="date"
           class="item-row-container">
        <div class="overline">{{ date }}</div>
        <router-link v-bind:to="{ name: 'Expense', params: { id: expense.id } }"
                     v-for="expense in expenses"
                     v-bind:key="expense.id"
                     v-bind:style="{ borderLeftColor: expense.colourHex }"
                     class="item-row card">
          <div>
            <div class="text__weight-md">{{ expense.name }}</div>
            <div v-if="expense.location && expense.location.name"
                 class="caption">{{ expense.location.name }}</div>
          </div>
          <div>
            <span class="text__weight-md">${{ expense.amount.toCurrency() }}</span>
          </div>
        </router-link>
      </div>
    </section>

    <TabBar></TabBar>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import axios, { AxiosResponse } from "axios";
  import * as firebase from "firebase/app";
  import _ from "lodash";
  import TabBar from "@/components/TabBar.vue";
  import { API_BASE_URL, COLOUR_OPTIONS } from "@/shared/global-values";
  import { groupExpensesByDate } from "@/shared/utils";
  import IExpense from "@/types/expense";

  export default Vue.extend({
    components: {
      TabBar,
    },
    data() {
      return {
        expenses: [] as IExpense[],
        debouncedSearchFn: _.debounce(async function(query: string): Promise<void> {
          const params: URLSearchParams = new URLSearchParams();
          params.set("q", query);

          const token: string = await firebase.auth().currentUser!.getIdToken();
          const response: AxiosResponse = await axios.get(`${API_BASE_URL}/search/expenses`, { params, withCredentials: true, headers: { Authorization: `Bearer ${token}` } });

          // @ts-ignore
          this.expenses = response.data.expenses.reduce((expenses: IExpense[], expense: IExpense) => {
            const colourOption = COLOUR_OPTIONS.find((option) => option.colour === expense.colour);
            expense.colourHex = colourOption!.hex;

            return [...expenses, expense];
          }, []);
        }, 1000),
      };
    },
    computed: {
      expensesGroupedByDate(): { [date: string]: IExpense[] } {
        return groupExpensesByDate(this.expenses);
      },
    },
    methods: {
      async search(event: Event): Promise<void> {
        const input: HTMLInputElement = event.currentTarget as HTMLInputElement;

        if (input.value.trim().length >= 3) {
          try {
            await this.debouncedSearchFn(input.value.trim());
          } catch (error) {
            console.error(error);
          }
        }
      },
    },
  });
</script>

<style lang="scss" scoped>
  @import "../assets/main";

  header {
    ~ section {
      margin: 16px 16px 56px;
    }
  }

  input {
    color: $primary-light-text-colour;
    background-color: #0c5c9e;

    &::placeholder {
      color: $disabled-light-text-colour;
    }
  }

  .item-row-container {
    ~ .item-row-container {
      margin: 16px 0 0;
    }

    > .overline {
      margin: 0 0 8px;
    }
  }

  .item-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-left-width: $border-radius;
    border-left-style: solid;

    ~ .item-row {
      margin: 16px 0 0;
    }
  }
</style>
