<template>
  <div class="modal-container">
    <div class="modal dialog">
      <header>
        <div>
          <i v-on:click="toggleFilter"
             class="material-icons md-24 md-dark">close</i>

          <h1 class="title">Filter</h1>
          
          <button v-on:click="clearFilters" type="button">Reset</button>
        </div>
      </header>

      <section>
        <div>
          <div class="overline">From</div>
          <div class="date-options">
            <select v-model="dateFromDay"
                    v-on:change="selectDate">
              <option v-for="day in dateOptions.DAYS"
                      v-bind:key="day">{{ day }}</option>
            </select>

            <select v-model="dateFromMonth"
                    v-on:change="selectDate">
              <option v-for="month in dateOptions.MONTHS"
                      v-bind:key="month">{{ month }}</option>
            </select>

            <select v-model="dateFromYear"
                    v-on:change="selectDate">
              <option v-for="year in dateOptions.YEARS"
                      v-bind:key="year">{{ year }}</option>
            </select>
          </div>
        </div>

        <div>
          <div class="overline">To</div>
          <div class="date-options">
            <select v-model="dateToDay"
                    v-on:change="selectDate">
              <option v-for="day in dateOptions.DAYS"
                      v-bind:key="day">{{ day }}</option>
            </select>

            <select v-model="dateToMonth"
                    v-on:change="selectDate">
              <option v-for="month in dateOptions.MONTHS"
                      v-bind:key="month">{{ month }}</option>
            </select>

            <select v-model="dateToYear"
                    v-on:change="selectDate">
              <option v-for="year in dateOptions.YEARS"
                      v-bind:key="year">{{ year }}</option>
            </select>
          </div>
        </div>

        <div>
          <div class="overline">Colours</div>
          <div class="colour-options">
            <span v-for="option in colourOptions"
                  v-bind:key="option.hex"
                  v-bind:data-colour="option.colour"
                  v-bind:style="{ backgroundColor: option.hex }"
                  v-on:click="selectColour">
              <i v-show="isSelectedColour(option.colour)"
                 class="material-icons md-24 md-light">done</i>
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import axios, { AxiosResponse } from "axios";
  import * as firebase from "firebase/app";
  import moment from "moment";
  import { API_BASE_URL, COLOUR_OPTIONS, DATE } from "@/shared/global-values";
  import { getDateRangeOfBudgetPeriod } from "@/shared/utils";
  import IExpense from "@/types/expense";
  import IFilter from "@/types/filter";

  export default Vue.extend({
    props: {
      budgetPeriod: String,
    },
    data() {
      return {
        colourOptions: COLOUR_OPTIONS,
        dateOptions: DATE,
      };
    },
    computed: {
      filters(): IFilter {
        return this.$store.getters.getFilters;
      },
      isFiltered(): boolean {
        return this.$store.getters.getIsFiltered;
      },
      dateFromDay: {
        get(): string {
          if (this.filters.dateFrom) {
            return this.filters.dateFrom.getDate().toString();
          }
          return "";
        },
        set(newValue): void {
          const dateFromString: string = `${newValue}-${this.dateFromMonth}-${this.dateFromYear}`;
          const dateFrom: Date = moment(dateFromString, "D-MMMM-YYYY").toDate();
          this.$store.dispatch("setFilters", { dateFrom });
        },
      },
      dateFromMonth: {
        get(): string {
          if (this.filters.dateFrom) {
            return DATE.MONTHS[this.filters.dateFrom.getMonth()];
          }
          return "";
        },
        set(newValue): void {
          const dateFromString: string = `${this.dateFromDay}-${newValue}-${this.dateFromYear}`;
          const dateFrom: Date = moment(dateFromString, "D-MMMM-YYYY").toDate();
          this.$store.dispatch("setFilters", { dateFrom });
        },
      },
      dateFromYear: {
        get(): string {
          if (this.filters.dateFrom) {
            return this.filters.dateFrom.getFullYear().toString();
          }
          return "";
        },
        set(newValue): void {
          const dateFromString: string = `${this.dateFromDay}-${this.dateFromMonth}-${newValue}`;
          const dateFrom: Date = moment(dateFromString, "D-MMMM-YYYY").toDate();
          this.$store.dispatch("setFilters", { dateFrom });
        },
      },
      dateToDay: {
        get(): string {
          if (this.filters.dateTo) {
            return this.filters.dateTo.getDate().toString();
          }
          return "";
        },
        set(newValue): void {
          const dateToString: string = `${newValue}-${this.dateToMonth}-${this.dateToYear}`;
          const dateTo: Date = moment(dateToString, "D-MMMM-YYYY").toDate();
          this.$store.dispatch("setFilters", { dateTo });
        },
      },
      dateToMonth: {
        get(): string {
          if (this.filters.dateTo) {
            return DATE.MONTHS[this.filters.dateTo.getMonth()];
          }
          return "";
        },
        set(newValue): void {
          const dateToString: string = `${this.dateToDay}-${newValue}-${this.dateToYear}`;
          const dateTo: Date = moment(dateToString, "D-MMMM-YYYY").toDate();
          this.$store.dispatch("setFilters", { dateTo });
        },
      },
      dateToYear: {
        get(): string {
          if (this.filters.dateTo) {
            return this.filters.dateTo.getFullYear().toString();
          }
          return "";
        },
        set(newValue): void {
          const dateToString: string = `${this.dateToDay}-${this.dateToMonth}-${newValue}`;
          const dateTo: Date = moment(dateToString, "D-MMMM-YYYY").toDate();
          this.$store.dispatch("setFilters", { dateTo });
        },
      },
    },
    methods: {
      toggleFilter(): void {
        this.$store.dispatch("toggleFilter");
      },
      async clearFilters(): Promise<void> {
        const today: Date = new Date();
        const dateRangeOfBudgetPeriod = getDateRangeOfBudgetPeriod(today, this.budgetPeriod);
        this.$store.dispatch("setFilters", { dateFrom: dateRangeOfBudgetPeriod.dateFrom, dateTo: dateRangeOfBudgetPeriod.dateTo, colours: new Set<string>([]) });
        this.$store.dispatch("setIsFiltered", false);

        await this.filter();
      },
      isSelectedColour(colour: string): boolean {
        return this.filters.colours.has(colour);
      },
      async selectColour(event: Event): Promise<void> {
        const colours: Set<string> = this.filters.colours;

        const span: HTMLSpanElement = event.currentTarget as HTMLSpanElement;
        const colour = span.dataset.colour as string;

        if (colours.has(colour)) {
          colours.delete(colour);
        } else {
          colours.add(colour);
        }

        this.$store.dispatch("setFilters", { colours });
        this.$store.dispatch("setIsFiltered", true);
        await this.filter();
      },
      async selectDate(): Promise<void> {
        this.$store.dispatch("setIsFiltered", true);
        await this.filter();
      },
      async filter(): Promise<void> {
        const params: URLSearchParams = new URLSearchParams();
        params.set("date_from", this.filters.dateFrom!.toISOString());
        params.set("date_to", this.filters.dateTo!.toISOString());

        for (const colour of this.filters.colours) {
          params.append("colours", colour);
        }

        try {
          const token: string = await firebase.auth().currentUser!.getIdToken();
          const response: AxiosResponse = await axios.get(`${API_BASE_URL}/expenses`, { params, withCredentials: true, headers: { Authorization: `Bearer ${token}` } });

          const expenses: IExpense[] = response.data.expenses.reduce((expenses: IExpense[], expense: IExpense) => {
            const colourOption = COLOUR_OPTIONS.find((option) => option.colour === expense.colour);
            expense.colourHex = colourOption!.hex;

            return [...expenses, expense];
          }, []);

          this.$store.dispatch("setExpenses", expenses);

        } catch (error) {
          console.error(error);
        }
      },
    },
  });
</script>

<style scoped lang="scss" scoped>
  @import "../assets/main";

  header {
    button {
      color: $website-accent-colour;
    }
  }

  form > div {
    margin: 0 0 16px;
  }

  .modal {
    > section {
      > div {
        > .overline {
          margin: 0 0 8px;
        }

        ~ div {
          margin: 16px 0 0;
        }
      }
    }
  }

  .date-options {
    select {
      ~ select {
        margin: 0 0 0 8px;
      }
    }
  }

  .colour-options {
    display: flex;

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      margin: 0 8px 0 0;
      border-radius: $border-radius;
    }
  }
</style>
