<template>
  <div class="modal-container">
    <div class="modal dialog">
      <header>
        <div>
          <i v-on:click="toggleLocationSearch"
            class="material-icons md-24 md-dark">close</i>
          <h1 class="title">Location</h1>
          <div></div>
        </div>
      </header>

      <section>
        <div>
          <input v-on:input="searchLocation"
                 type="text" placeholder="Enter location"/>
        </div>

        <section>
          <div v-for="(location, i) in locations"
               v-bind:key="i"
               v-on:click="selectLocation"
               v-bind:data-index="i"
               class="item-row">
            <div class="text__weight-md">{{ location.name }}</div>
            <div class="text__dark-grey caption">{{ location.address }}</div>
          </div>
        </section>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import _ from "lodash";
  import { searchPlace } from "@/shared/utils";
  import ILocation from "@/types/location";

  export default Vue.extend({
    data() {
      return {
        locations: [] as ILocation[],
        location: {} as ILocation,
        debouncedSearchLocationFn: _.debounce(async function(query: string): Promise<void> {
          const places: google.maps.places.PlaceResult[] = await searchPlace(query);

          // @ts-ignore
          this.locations = places.reduce((locations: ILocation[], place: google.maps.places.PlaceResult) => {
            if (place.formatted_address && place.geometry) {
              return [...locations, {
                name: place.name,
                address: place.formatted_address,
                latitude: place.geometry.location.lat(),
                longitude: place.geometry.location.lng(),
              }];
            }
            return locations;
          }, []);
        }, 1000),
      };
    },
    methods: {
      toggleLocationSearch(): void {
        this.$store.dispatch("toggleLocationSearch");
      },
      async searchLocation(event: Event): Promise<void> {
        const input: HTMLInputElement = event.currentTarget as HTMLInputElement;

        if (input.value.trim().length >= 3) {
          try {
            await this.debouncedSearchLocationFn(input.value.trim());
          } catch (error) {
            console.error(error);
          }
        }
      },
      selectLocation(event: Event): void {
        const div: HTMLDivElement = event.currentTarget as HTMLDivElement;
        const index: number = div.dataset.index as unknown as number;
        this.$emit("select-location", this.locations[index]);
        this.$store.dispatch("toggleLocationSearch");
      },
    },
  });
</script>

<style scoped lang="scss" scoped>
  @import "../assets/main";

  header {
    background-color: rgb(255, 255, 255);

    ~ section {
      margin: 0 16px 16px;
    }
  }

  .modal {
    > section > div {
      margin: 0 0 16px;
    }
  }

  .item-row {
    padding: 8px 16px;
    border-radius: $border-radius;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgb(242, 242, 246);
    }
  }
</style>
