<template>
  <nav>
    <router-link v-bind:to="{ name: 'Home' }" class="link-icon">
      <i class="material-icons md-24 md-dark">home</i>
    </router-link>

    <router-link v-bind:to="{ name: 'Search' }" class="link-icon">
      <i class="material-icons md-24 md-dark">search</i>
    </router-link>

    <router-link v-bind:to="{ name: 'Account' }" class="link-icon">
      <i class="material-icons md-24 md-dark">account_circle</i>
    </router-link>
  </nav>
</template>

<script lang="ts">
  import Vue from "vue";

  export default Vue.extend({});
</script>

<style scoped lang="scss" scoped>
  @import "../assets/main";

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: $secondary-light-background-colour;
    border-top: 1px solid $divider-colour;
  }

  a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 16px;

    &.router-link-exact-active {
      i {
        color: $website-accent-colour;
      }
    }
  }
</style>
