$font-family: "Avenir", Helvetica, Arial, sans-serif;
$line-height: 1.6;

$title-font-size: 4.8rem;
$subtitle-font-size: 1.4rem;
$body-font-size: 1.4rem;
$button-font-size: 1.4rem;
$caption-font-size: 1.2rem;
$overline-font-size: 1.0rem;

$bold-font-weight: 900;
$medium-font-weight: 600;
$regular-font-weight: 400;

$primary-dark-text-colour: rgba(0, 0, 0, 0.87);
$secondary-dark-text-colour: rgba(0, 0, 0, 0.6);
$disabled-dark-text-colour: rgba(0, 0, 0, 0.38);

$primary-light-text-colour: rgba(255, 255, 255, 1);
$secondary-light-text-colour: rgba(255, 255, 255, 0.7);
$disabled-light-text-colour: rgba(255, 255, 255, 0.5);

$divider-colour: rgba(0, 0, 0, 0.12);
$divider-light-colour: rgba(255, 255, 255, 0.2);

$primary-light-background-colour: #faf9f8;
$secondary-light-background-colour: #ffffff;

$blur-backdrop-filter: saturate(180%) blur(20px);
$blur-dark-background-colour: rgba(0, 0, 0, 0.7);
$blur-light-background-colour: rgba(255,255,255,0.7);

$box-shadow-card: 0 2px 4px 0 $divider-colour, 0 1px 1px 0 $divider-colour;
$box-shadow-bar: 0 4px 8px 0 $divider-colour, 0 1px 2px 0 $divider-colour;
$box-shadow-hover: 0 7px 15px 0 $divider-colour, 0 2px 4px 0 $divider-colour;
$box-shadow-dialog: 0 26px 58px 0 $divider-colour, 0 5px 15px 0 $divider-colour;

$border-radius: 2px;
$rounded-border-radius: 100px;

$website-width: 520px;
$website-accent-colour: #0078d4;
