<template>
  <div id="app">
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import * as firebase from "firebase/app";
  import "firebase/auth";
  import "@/types/number";

  export default Vue.extend({
    async beforeCreate(): Promise<void> {
      firebase.auth().onAuthStateChanged((user: firebase.User | null) => {
        if (user) {
          localStorage.setItem("userId", user.uid);
          this.$router.push({ name: "Home" });
         } else {
          localStorage.clear();
          this.$store.dispatch("setExpenses", []);
          this.$router.push({ name: "GetStarted" });
        }
      });
    },
  });
</script>

<style lang="scss">
  @import "assets/main";


  /* Rules for sizing the icon. */

  .material-icons.md-18 {
    font-size: 18px;
  }

  .material-icons.md-24 {
    font-size: 24px;
  }

  .material-icons.md-36 {
    font-size: 36px;
  }

  .material-icons.md-48 {
    font-size: 48px;
  }

  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
  }

  .material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
  }

  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light {
    color: rgba(255, 255, 255, 1);
  }

  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }

  /* -------------------------- */


  /* Vue transitions. */

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0;
  }

  .slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .3s ease;
  }

  .slide-fade-enter {
    transform: translateX(10px);
    opacity: 0;
  }
  
  .slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }

  /* -------------------------- */


  html {
    font-size: 10px;
  }

  body {
    margin: 0;
    font-family: $font-family;
    font-size: $body-font-size;
    font-weight: $regular-font-weight;
    line-height: $line-height;
    color: $primary-dark-text-colour;
    background-color: $primary-light-background-colour;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: $primary-dark-text-colour;
    text-decoration: none;
  }

  button, .btn {
    font-family: $font-family;
    font-size: $button-font-size;
    font-weight: $medium-font-weight;
    padding: 0;
    color: $website-accent-colour;
    background: none;
    text-transform: uppercase;
    border: 0;

    &:disabled {
      opacity: 0.5;
    }
  }

  input, textarea, .clearable-input {
    width: 100%;
    padding: 8px 16px;
    font-family: $font-family;
    font-size: $body-font-size;
    font-weight: $regular-font-weight;
    line-height: $line-height;
    color: $primary-dark-text-colour;
    background-color: rgb(242, 242, 246);
    border: 0;
    border-radius: $border-radius;
    box-sizing: border-box;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 16px;
    font-family: $font-family;
    font-size: $body-font-size;
    font-weight: $regular-font-weight;
    line-height: $line-height;
    color: $primary-dark-text-colour;
    background-color: rgb(242, 242, 246);
    border: 0;
    border-radius: $border-radius;
    box-sizing: border-box;
  }

  hr {
    margin: 16px 0;
    width: 100%;
    border: 0;
    border-top: 1px solid $divider-colour;
  }

  header {
    position: sticky;
    top: 0;
    padding: 8px 16px;
    color: $primary-light-text-colour;
    background-color: $website-accent-colour;
    backdrop-filter: $blur-backdrop-filter;
    -webkit-backdrop-filter: $blur-backdrop-filter;
    
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button, .btn {
        color: $primary-light-text-colour;
      }

      ~ div {
        margin: 8px 0 0;
      }
    }

    ~ section {
      margin: 16px;
    }
  }

  img {
    display: block;
    width: 100%;
    border-radius: $border-radius;
    overflow: hidden;
  }


  /* Rules for using text as black on a light background */
  
  .text__size-lg {
    font-size: $title-font-size;
  }

  .text__weight-lg {
    font-weight: $bold-font-weight;
  }

  .text__weight-md {
    font-weight: $medium-font-weight;
  }

  .text__dark-grey {
    color: $disabled-dark-text-colour;
  }

  .title {
    font-size: $caption-font-size;
    font-weight: $medium-font-weight;
    text-transform: uppercase;
  }

  .caption {
    font-size: $caption-font-size;
    color: $disabled-dark-text-colour;
  }

  .caption.light {
    color: $disabled-light-text-colour;
  }

  .overline {
    font-size: $overline-font-size;
    color: $disabled-dark-text-colour;
    text-transform: uppercase;
  }

  .overline.light {
    color: $disabled-light-text-colour;
  }

  /* -------------------------- */

  .card {
    background-color: $secondary-light-background-colour;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow-card;
  }

  .dialog {
    background-color: $secondary-light-background-colour;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow-dialog;
  }

  .modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.12);

    .modal {
      margin: 16px;
      width: 100%;

      header {
      margin: 0;
      color: $primary-dark-text-colour;
      background-color: rgb(255, 255, 255);

        ~ section {
          margin: 0 16px 16px;
        }
      }
    }
  }

  .link-icon {
    display: inline-flex;
  }

  .input-icon {
    display: flex;
    align-items: center;

    > i {
      margin: 0 16px 0 0;
    }
  }

  .form-group {
    padding: 16px;

    > div {
      ~ div {
        margin: 16px 0 0;
      }
    }

    ~ .form-group {
      margin: 16px 0 0;
    }

    > .img-wrapper {
      padding: 0 0 0 40px;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
  }

  .clearable-input {
    display: flex;
    align-items: center;
    overflow-x: hidden;

    label {
      width: 100%;
      white-space: nowrap;
      overflow-x: hidden;
    }

    i {
      margin: 0 0 0 16px;
    }
  }
</style>
